@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

<div class="container">
    <h1 class="display-2 text-center mb-4">Quick Scheduler</h1>
    <div class="content-wrapper">
        <div class="image-container">
            <img src="Images/calender-pic.jpg" alt="Calendar Image" class="calendar-image">
            <div class="circle-description">
                <p>A scheduling app designed to help you effortlessly track and manage all your appointments quickly and easily!</p>
            </div>
        </div>
    </div>
</div>
